<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>349317541074-2cr66vlcr5m6rr60ker1bbhc3k2h1jb0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.349317541074-2cr66vlcr5m6rr60ker1bbhc3k2h1jb0</string>
	<key>API_KEY</key>
	<string>AIzaSyCqPv3tURxSBqDxn-SCRU1XgkdXVlzR8Vo</string>
	<key>GCM_SENDER_ID</key>
	<string>349317541074</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.godimexico.godiMexico</string>
	<key>PROJECT_ID</key>
	<string>godimexico-5f08e</string>
	<key>STORAGE_BUCKET</key>
	<string>godimexico-5f08e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:349317541074:ios:4239ed4e1bd503f8f0910b</string>
</dict>
</plist>